<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample"
          aria-controls="navbarsExample" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample" style="background: lightgray">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" *ngIf="loginbtn" routerLink="login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item">
        <button type="button" *ngIf="logoutbtn" class="btn btn-danger" routerLink="login" routerLinkActive="active"
                (click)="logout()">logout
        </button>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="logoutbtn" routerLink="registration" routerLinkActive="active">Alumnos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="logoutbtn" routerLink="grades" routerLinkActive="active">Cursos</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>